body{
    font-family: 'Inter', 'Nunito Sans', sans-serif;
    color: #4B5D68;
    background: #FFFFFF;
}

.header {
    display: flex;
    padding-top: 50px;
    padding-bottom: 130px;
    width: 1248px;
    height: 754px;
    left: 240px;
    top: 50px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    margin: 50px 240px 130px 240px;
    width: 1120px;
    height: 60px;
    /* left: 240px;
    top: 50px; */
}

nav {
    width: 100%;
    height: max-content;
}

.navigation-bar {
    width: 322px;
    height: 30px;
    left: 410px;
    top: 65px;
}

.logo {
    padding-left: 0px;
    padding-right: 120px;
    cursor: pointer;
}

nav>ul {
    display: flex;
}

nav>ul>li {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
    margin-right: auto;
    margin-left: 120px;
    cursor: pointer;
    padding-top: 17px;
    justify-content: space-between;
}

nav>ul>li:hover {
    font-weight: 800;
    color: #212353;
}

.sign {
    margin-right: 420px;
}

.btn-top {
    padding-left: 420px;
}

.request-demo {
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    padding: 17px 29px;
    font: 'Nunito Sans';
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #212353;
    background-color: #ffffff;
    border-radius: 50px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    width: 210px;
    height: 60px;
    left: 1150px;
    top: 50px;
}

.request-demo::after {
    content: url(../img/Arrow.svg);
    padding-left: 20px;
    width: 20px;
    height: 14px;
}

.request-demo:hover {
    border-radius: 20px;
    font-weight: 900;
    border: 1px solid #F063B8;
    color: black;
    background: rgb(231, 226, 226);
	color: #F063B8;
    box-shadow: inset 0 0 0 3px #F063B8;
}

.section-01 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    padding-top: 130px;
    padding-left: 240px;
    width: 645px;
    height: 464px;
    left: 240px;
    top: 240px;
}

.section-01-header {
    position: absolute;
    width: 645px;
    height: 184px;
    left: 240px;
    top: 240px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 110%;
    display: flex;
    align-items: center;
    color: #212353;
}

.section-01-text {
    position: absolute;
    /* padding-top: 50px; */
    width: 380px;
    height: 120px;
    left: 240px;
    top: 475px;

    font-family: 'Nunito sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
}

.section-01::after {
    content: url(../img/image1-1.svg);
    position: absolute;
    width: 885px;
    height: 470px;
    left: 605px;
    top: 335px;
}

.section-01-btn {
    padding-top: 50px;
}

.purple-btn {
    cursor: pointer;
    font: 'Nunito sans';
    width: 170px;
    height: 60px;
    background: #9C69E2;
    border-radius: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    border-style: none;
    margin-top: 220px;
}

.purple-btn:hover {
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 1px solid #9C69E2;
    color: #9C69E2;
}

main {
    display: flex;
    flex-direction: column;
}

.section-02 {
    width: 1115px;
    height: 560px;
    left: 240px;
    top: 905px;
    margin: 100px 245px 150px 240px;

    width: 1117px;
    height: 560px;
    left: 240px;
    top: 903.18px;
    
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
}

.section-02-header {
    position: absolute;
    width: 475px;
    height: 100px;
    left: 790px;
    top: 1028.18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    
    display: flex;
    align-items: center;
    
    color: #212353;
}

.section-02-text {
    position: absolute;
    width: 474px;
    height: 170px;
    left: 790px;
    top: 1168.18px;
    
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    
    color: #4B5D68;    
}

.section-02::after {
    content: url(../img/image2.svg);
    position: absolute;
    width: 477px;
    height: 504px;
    left: 251px;
    top: 935px;
}